$mobileS: '390px';
$mobileM: '400px';
$mobileL: '850px';

@media only screen and (max-width: $mobileS) {

    .edamamImg {
        width: 200%;
        height: auto;
    }

    .EdamamSearch{
        margin: 0 auto;
        max-width: $mobileS;
    }

    .searchRecipeBtn {
        font-size: small;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .recipeQuery {
        font-size: small;
    }
}
@media only screen and (min-width: $mobileM) {

    .edamamImg {
        max-width: 200%;
        height: auto;
    }

    .EdamamSearch{
        margin: 0 auto;
        max-width: $mobileM;
    }

    .searchRecipeBtn {
        font-size: medium;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .recipeQuery {
        font-size: medium;
    }
}
@media only screen and (min-width: $mobileL) {

    .edamamImg {
        max-width: 100%;
        height: auto;
    }

    .EdamamSearch{
        margin: 0 auto;
        max-width: $mobileL;
    }

    .searchRecipeBtn {
        font-size: large;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .recipeQuery {
        font-size: large;
    }

}