$mobileS: '390px';
$mobileM: '400px';
$mobileL: '850px';

@media only screen and (max-width: $mobileS) {
    .Login{
        margin: 0 auto;
        max-width: auto;
        padding: 10px 0 10px 0;
        font-size: medium; 
    }

    .googleBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}
@media only screen and (min-width: $mobileM) {
    .Login{
        margin: 0 auto;
        max-width: 850px;
        padding: 10px 0 10px 0;
        font-size: medium; 
    }

    .googleBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}
@media only screen and (min-width: $mobileL) {
    .Login {
        margin: 0 auto;
        max-width: 850px;
        padding: 10px 0 10px 0;
        font-size: medium; 
    }

    .googleBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

}