@media all and (min-width: 480px) {

    .recipe {
        background-color: #d3d3d3;
        border-radius: 10px;
         text-align: center;
         margin: 0 auto;
         max-width: 320px;
         margin-top: 20px;
         padding: 10px 0 0 0;
    } 
 
    .btnAddtoRepo {
        margin: 10px;
    }

 
   }